{erl_opts, [
    debug_info,
    warn_unused_vars,
    warn_unused_import,
    warn_exported_vars,
    {parse_transform, lager_transform}
    ]}.
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "3.2.4"}}},
    {exometer, ".*", {git, "git://github.com/feuerlabs/exometer.git", {tag, "1.2.1"}}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {tag, "0.14.11"}}},
    {epgsql, ".*", {git, "git://github.com/epgsql/epgsql.git", {tag, "3.3.0"}}},
    {edown, ".*", {git, "git://github.com/uwiger/edown.git", {tag, "0.8"}}},
    {eredis, ".*", {git, "https://github.com/wooga/eredis.git", {tag, "v1.1.0"}}},
    {ranch, ".*", {git, "https://github.com/ninenines/ranch.git", {tag, "1.4.0"}}},
    {worker_pool, ".*",
        {git, "https://github.com/inaka/worker_pool.git", {tag, "3.1.0"}}},
    {recon, ".*", {git, "git://github.com/ferd/recon.git", {tag, "2.3.2"}}}
]}.

{relx, [{release, {devel, "0.0.1"},
    [nts]},

    {dev_mode, true},
    {include_erts, false},
    {sys_config, "test.config"},
    {overlay, [{template, "priv/nts.cfg", "nts.cfg"}
        ]},

    {extended_start_script, true}]}.