[
    {nts, [
        {config, "nts.cfg"}
    ]},
    {postgres, [
        {conn_data,
            [
                {host, "nts-postgres"},
                {port, 5432},
                {username, "nts"},
                {password, "password"},
                {database, "nts"}
            ]
        },
        {log_queries, true}
    ]},
    {lager, [
        {log_root, "logs"},
        {crash_log, "crash.log"},
        {handlers, [
            %{lager_console_backend, [info, {lager_default_formatter,[{eol, "\r\n"}]}]},
%% use below line to add syslog backend for Lager
%        {lager_syslog_backend, [ "mongooseim", local0, info]},
            {lager_file_backend, [{file, "nts.log"}, {level, info}, {size, 2097152}, {date, "$D0"}, {count, 5}]}
        ]}
    ]}
].